body {
  overflow-x: hidden;
  background-image: url("images/R.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 40px;
}

.avatar img {
  width: 350px;
  height: auto;
}

.buttons {
  display: flex;
  flex-direction: column; /* Выровнять кнопки вертикально */
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 20px; /* Расстояние между кнопками */
}

.button1,
.button2,
.button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c63c7; /* Белый фон для кнопок */
  border-radius: 10px; /* Закругление углов кнопок */
  padding: 10px 20px; /* Отступы внутри кнопок */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для кнопок */
  transition: background-color 0.3s, box-shadow 0.3s; /* Плавный переход для фона и тени */
}

.button1:hover,
.button2:hover,
.button3:hover {
  background-color: #725aff; /* Цвет фона при наведении */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Более яркая тень при наведении */
}

.button1 a,
.button2 a,
.button3 a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-image {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.about {
  font-size: 30px;
  color: rgb(201, 255, 255);
  margin: 30px;
}

.me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
